{% extends 'base.html' %}

{% block contents %}
<div style="border: solid 1px black; text-align: center; border-radius: 20px;">

<h1 class="mt-5">영화 추가</h1>
<div class="mt-5 container">
    <h2>제목</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        선택하기
    </button>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>제목을 선택하세요</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                <form name="frm">
                    <select name="sel">
                            <option value="none" selected>--제목선택--</option>
                        {% for mt in moviedata %}
                            <option value="{{mt.pk}}">{{mt.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-secondary" data-dismiss="modal" value="선택" onclick="check()">
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>

<div class="mt-5">
    <h2>지점명</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#office">
        선택하기
    </button>
    <div class="modal fade" id="office">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>지점을 선택하세요</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                <form name="frm_office">
                    <select name="sel_office">
                            <option value="none" selected>--지점선택--</option>
                        {% for a in office %}
                            <option value="{{a.pk}}">{{a.branch_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-secondary" data-dismiss="modal" value="선택" onclick="check_office()">
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>

<form action="." method="post">
    {% csrf_token %}
    <input type="hidden" name="movie" id="movie" value="">
    <input type="hidden" name="officesel" id="officesel" value="">
    <div class="mt-5">
        <h4>날짜 선택</h4>
        <input type="datetime-local" name="date_add" id="date_add" required>
    </div>
<button type="submit" class="m-5 btn btn-outline-dark">작성완료</button>
</form>
</div>

<script type="text/javascript">
function check()
{
    if(frm.sel.value == 'none')
    {
        alert("제목을 선택하세요")
        return false;
    }
    else
    {
        $('#frm').submit();
        selval = $('select[name="sel"]').val()
        $('#movie').val(selval)
        $('#change').html(selval)
    }
}
function check_office()
{
    if(frm_office.sel_office.value == 'none')
    {
        alert("지점을 선택하세요")
        return false;
    }
    else
    {
        $('#frm_office').submit();
        sel_office = $('select[name="sel_office"]').val()
        $('#change_office').html(sel_office)
        $('#officesel').val(sel_office)
    }
}
</script>
{% endblock %}