{% extends 'base.html' %}
{% load static %}
{% load startswith %}
{% block header %}
{% if madmin != 1 %}
{% include 'header.html'%}
{% endif %}
{% endblock %}

{% block contents %}
<div class="container">
    <form id="sub" action="{% url 'Kakao:pay'%}" method="post">
    <!-- <form action="." method="post"> -->
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <button type="button" class="nav-link align-middle px-0 text-dark" onclick="seoulshow()">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">서울</span>
                            </button>
                            <button type="button" class="nav-link align-middle px-0 text-dark" onclick="gyeonggishow()">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">경기</span>
                            </button>
                        </li>
                    <hr>
                </div>
            </div>
            <div class="col py-3" style="display: none;" id="seoul">
                {% for ticket in tickets%}
                {% if ticket.branch_name.branch_name|startswith:'서울' %}
                <li>
                    <input type="radio" name="movie_choice" id="movie_choice" value="{{ticket.title.pk}}" required>{{ticket.title}} | {{ticket.start_time}} | {{ticket.branch_name.branch_name}}
                </li>
                {% endif%}
                {% endfor %}
            </div>
            <div class="col py-3" style="display: none;" id="gyeonggi">
                {% for ticket in tickets%}
                {% if ticket.branch_name.branch_name|startswith:'경기' %}
                <li>
                    <input type="radio" name="movie_choice" id="movie_choice" value="{{ticket.title.pk}}" required>{{ticket.title}} | {{ticket.start_time}} | {{ticket.branch_name.branch_name}}
                </li>
                {% endif%}
                {% endfor %}
            </div>

        </div>
      </div>
    <label for="adult">성인</label>
    <select name="adult" id="adult">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <label for="teenager">청소년</label>
    <select name="teenager" id="teenager">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <label for="kid">유아</label>
    <select name="kid" id="kid">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <button type="button" onclick="chkoption()" id="kakao"><img src="{%static 'img/payment_icon_yellow_small.png'%}" alt=""></button>
</form>
</div>
<script>
    function chkoption(){
        if($('input:radio[name="movie_choice"]').is(':checked')){
            if(($('#adult').val() || $('teenager').val() || $('kid').val()) == 0){
                alert('인원수를 정해주세요')
                return false
            }
            else{
                $('#sub').submit()
            }
        }
        else{
            alert("영화를 선택해주세요")
        }
    }

    function seoulshow(){
            $('#seoul').show()
            $('#gyeonggi').hide()
    }
    function gyeonggishow(){
            $('#seoul').hide()
            $('#gyeonggi').show()
    }

</script>
{% endblock %}