{% extends 'base.html' %}
{% load static %}
{% block header %}
{% if madmin != 1 %}
{% include 'header.html'%}
{% endif %}
{% endblock %}

{% block contents %}
<div class="container">
    <div class="container"> <!-- 영화 -->
        <ul>
            {% for movie in movies %}
            <li>
                <a href="#" name="movie_title" value="{{ movie.title }}">{{ movie.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container"> <!-- 지역 -->
        <ul>
            {% for area in areas %}
            <li>
                <a href="#" name="area" value="{{ area.area }}">{{ area.area }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container"> <!-- 영화편 -->
        <ul>
            {% for movie in movies %}
            {% for ticket in tickets %}
            {% for branch in branches %}
            {% if ticket.branch_name == branch.branch_name and movie.title == ticket.title %}
            <li>
                <a href="#" name="ticket" value="{{ ticket.title }}">{{ ticket.title }} | {{ ticket.start_time }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <form action="." method="post">
        {% csrf_token %}
    <label for="adult">성인</label>
    <select name="adult" id="adult">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <label for="teenager">청소년</label>
    <select name="teenager" id="teenager">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <label for="kid">유아</label>
    <select name="kid" id="kid">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <button type="submit">예매하기</button>
</form>
</div>
{% endblock %}