{% if error == 0 %}
<script>
    alert("등록완료")
    location.href = "/movie/movie_info/{{mcd}}/"
</script>
{% endif %}

{% if error == 1 %}
<script>
    alert("예매를 안한 유저 입니다")
    location.href = "/movie/movie_info/{{mcd}}/"
</script>
{% endif %}

{% if error == 2 %}
<script>
    var rt = confirm('작성한 글이 있습니다. 수정하시겠습니까?')
    if(rt){
        location.href = "{%url 'Rating:rt_update' mcd %}"
    }
    else{
        history.back()
    }
</script>
{% endif %}

{% if error == 3 %}
<script>
    var rt = confirm('로그인이 필요합니다.')
    if(rt){
        location.href = "{%url 'User:login' %}"
    }
    else{
        history.back()
    }
</script>
{% endif %}