div.group{
    border: 5px solid black;
    padding: 50px 50px;
    background-color: rgb(216, 208, 208);
}

.form-control{
    font-style: red;
}



.register-btn{
    background-color: red;
    float: left;
}

.login-btn{
    background-color: red;
}

.text-align{
    text-align: center;
}