{% extends "base.html" %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="{% url 'Main:home'%}">Team_SB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'Main:home'%}">메인</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'movie:movie_list' %}">영화목록</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">예매하기</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'News:news_list'%}">공지사항</a></li>
                {% if not request.session.user %}
                <li class="nav-item"><a class="nav-link" href="{% url 'User:login'%}">로그인</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'User:register'%}">회원가입</a></li>
                {% else %}
                <li class="nav-item text-white">환영합니다 {{request.session.userid}}님<br><a class="nav-link" href="{% url 'User:logout'%}" style="text-align: center;">로그아웃</a> </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}