{% extends "base.html" %}

{% block header %}
<div class="row mt-5">
    {% if request.session.user %}
    <div class="col-4 d-grid">
        <h3>환영합니다 {{user}}님</h3>
        <a class="btn btn-primary header-btn"  href='{% url "User:logout" %}'>로그아웃</a>
    </div>
    {% else %}
    <div class="col-2 d-grid"> <!-- BS5 에서 btn-block 사용하려면 parent 에 d-grid 필요 -->
        <a class="btn btn-primary header-btn"  href='{% url "User:login" %}'>로그인</a>
    </div>
    <div class="col-2 d-grid">
        <a class="btn btn-primary header-btn" href='{% url "User:register" %}'>회원가입</a>
    </div>
    {% endif %}
</div>

{% endblock %}