{% extends "base.html" %}

{% load static %}
{% block title %} 홈페이지{% endblock %}
{% block header%}
    {% include 'header.html' %}
{% endblock %}



{% block contents %}
<header class="py-4">
    <div>
        <div class="text-center">
            <div>
                <img src="/static/img/moviemain.jpg" style="width: 1270px; height: 500px;">
            </div>
        </div>
    </div>
</header>
<br>

<div class="row" style="border: 2px solid black; border-radius: 10px; margin-bottom: 20px;">
    <div class="col-3">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="margin: 20px;">
            <div class="carousel-inner">
                {% for image in moviedata1 %}
                <div class="carousel-item item">
                    {% if image.poster_path %}
                    <a href="{% url 'movie:movie_info' image.pk %}"><img src="https://image.tmdb.org/t/p/w500{{image.poster_path}}" style="width: 300px; height: 450px;" alt=""></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-3">
        <div id="myCarousel2" class="carousel slide" data-bs-ride="carousel" style="margin: 20px;">
            <div class="carousel-inner">
                {% for image in moviedata2 %}
                <div class="carousel-item item2">
                    {% if image.poster_path %}
                    <a href="{% url 'movie:movie_info' image.pk %}"><img src="https://image.tmdb.org/t/p/w500{{image.poster_path}}" style="width: 300px; height: 450px;" alt=""></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-3">
        <div id="myCarousel3" class="carousel slide" data-bs-ride="carousel" style="margin: 20px;">
            <div class="carousel-inner">
                {% for image in moviedata3 %}
                <div class="carousel-item item3">
                    {% if image.poster_path %}
                    <a href="{% url 'movie:movie_info' image.pk %}"><img src="https://image.tmdb.org/t/p/w500{{image.poster_path}}" style="width: 300px; height: 450px;" alt=""></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-3">
        <div id="myCarousel4" class="carousel slide" data-bs-ride="carousel" style="margin: 20px;">
            <div class="carousel-inner">
                {% for image in moviedata4 %}
                <div class="carousel-item item4">
                    {% if image.poster_path %}
                    <a href="{% url 'movie:movie_info' image.pk %}"><img src="https://image.tmdb.org/t/p/w500{{image.poster_path}}" style="width: 300px; height: 450px;" alt=""></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
      $('#myCarousel').carousel({
        interval: 500,
        pause: "false"
      });
      $('#myCarousel2').carousel({
        interval: 500,
        pause: "false"
      });

      $('#myCarousel3').carousel({
        interval: 500,
        pause: "false"
      });

      $('#myCarousel4').carousel({
        interval: 500,
        pause: "false"
      });
      $('.item').filter(':first').addClass('active');
      $('.item2').filter(':first').addClass('active');
      $('.item3').filter(':first').addClass('active');
      $('.item4').filter(':first').addClass('active');
    });
</script>

{% endblock %}
