{% extends "base.html" %}

{% block title %} 공지사항 {% endblock %}

{% block header%}
{% if madmin != 1 %}
{% include "header.html"%}
{% endif %}
{% endblock %}
{% block contents %}

<div class="row mt-5">
    <div class="col-12">
        <table class="table table-hover">
            <thead class="thead-light table-secondary"  >
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>조회수</th>
                    <th>작성일</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for nw in news %}
                <tr onclick="location.href='/news/news_detail/{{ nw.pk }}'">
                    <td>{{nw.pk}}</td>
                    <td><a href="#" style="text-decoration: none; color: #000;">{{nw.news_title}}</a></td>
                    <td>{{nw.news_views}}</td>
                    <td>{{nw.news_date|date:"Y-m-d"}}</td>
                    <td>{{nw.admins}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'News:news_create' %}" class="btn btn-primary">글작성</a>
    </div>
</div>

<!-- pagination -->
<div class="container mt-1">
    <ul class="pagination justify-content-center">
        {% if news.number > 1 %}       
        <li class="page-item"><a class="page-link" href="{% url 'News:news_list' %}" title="처음"><i class='fas fa-angle-double-left'></i></a></li>
        {% endif %}

        {% if start_page > 1%}
        <li class="page-item"><a class="page-link" href="{% url 'News:news_list' %}?p={{ start_page|add:-1  }}" title="이전"><i class='fas fa-angle-left'></i></a></li>
        {% endif %}

        {% if news.paginator.num_pages > 1 %}
            {% for p in page_range %}
                {% if news.number != p %}
                    <li class="page-item"><a class="page-link" href="{% url 'News:news_list' %}?p={{ p }}">{{ p }}</a></li>
                {% else %}
                    <li class="page-item active"><a class="page-link" href="#" title="현재페이지">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if news.paginator.num_pages > end_page %}
            <li class="page-item"><a class="page-link" href="{% url 'News:news_list' %}?p={{ end_page|add:+1  }}" title="다음"><i class='fas fa-angle-right'></i></a></li>
        {% endif %}
        
        {% if news.number < news.paginator.num_pages %}
            <li class="page-item"><a class="page-link" href="{% url 'News:news_list' %}?p={{ news.paginator.num_pages }}" title="마지막"><i class='fas fa-angle-double-right'></i></a></li>
        {% endif %}
    </ul>
</div>
<!-- pagination -->

{% if userchk %}
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" href="{% url 'News:news_create' %}">글쓰기</a>
    </div>
</div>
{% endif %}
{% endblock %}
