{% extends "base.html" %}

{% block title %} 공지사항 {% endblock %}

{% block header%}
{% include "header.html" with user=user %}
{% endblock %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table " style="border: 1px solid black;">
            <thead class="thead-light table-secondary"  >
                <tr>
                    <th style="border: 1px solid black;" class="col-2">{{nwd.admins}}</th>
                    <th style="border: 1px solid black; text-align: center;" class="col-8">{{nwd.news_title}}</th>
                    <th style="border: 1px solid black; text-align: right;" class="col-2">{{nwd.news_views}}</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                <tr>
                    <td colspan="3">{{nwd.news_content}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
{%if userchk %}
<a class="btn btn-primary" href='{% url "News:news_list"%}?p={{now_page}}'>목록</a>
<a class="btn btn-warning" href="{% url 'News:news_update' nwd.pk %}">수정</a>
<button class="btn btn-danger" onclick="chkDel()">삭제</button>
<form action="{% url 'News:news_delete' %}" name="delete" method="POST">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ nwd.id }}">
</form>
{% endif %}
{% endblock%}