{% extends "base.html" %}

{% block title %} 공지사항 {% endblock %}
{% load static %}
{% block header%}
{% if madmin != 1 %}
{% include "header.html"%}
{% endif %}
{% endblock %}
{% block contents %}

<div class="row mt-5">
    <div class="col-12">
        <table class="table table-hover">
            <thead class="thead-light table-secondary"  >
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>조회수</th>
                    <th>작성일</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for nw in news %}
                <tr>
                    <td>{{nw.pk}}</td>
                    <td><a href="{% url 'News:news_detail' nw.pk%}" style="text-decoration: none; color: #000;">{{nw.news_title}}</a></td>
                    <td>{{nw.news_views}}</td>
                    <td>{{nw.news_date|date:"Y-m-d"}}</td>
                    <td>{{nw.admins}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'News:news_create' %}" class="btn btn-primary">글작성</a>
    </div>
</div>

<!-- pagination -->
<div class="container mt-1">
    <ul class="pagination justify-content-center">
        {% if news.has_previous %}
          <li class="page-item">
              <!-- 이전 페이지 있을경우 -->
                <a class="page-link" href="?p={{ news.previous_page_number }}"><img src="{% static 'img/left_arrow.png' %}" alt="" style="width: 20px; height: 20px;"></a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True"><img src="{% static 'img/left_arrow.png' %}" alt="" style="width: 20px; height: 20px;"></a>
          </li>
        {% endif %}

        {% for i in news.paginator.page_range %}
          {% if news.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                    {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?p={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        
        {% if news.has_next %}
        <li class="page-item">
            <!-- 다음 페이지 있을경우 -->
          <a class="page-link" href="?p={{ news.next_page_number }}"><img src="{% static 'img/right_arrow.png' %}" alt="" style="width: 20px; height: 20px;"></a>
        </li>
         {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="True"><img src="{% static 'img/right_arrow.png' %}" alt="" style="width: 20px; height: 20px;"></a>
        </li>
        {% endif %}

    </ul>
</div>
<!-- pagination -->

{% if userchk %}
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" href="{% url 'News:news_create' %}">글쓰기</a>
    </div>
</div>
{% endif %}
{% endblock %}
